h1{
    padding-bottom: 20px;
    background-color: white;
}

.title-style {
    color: black;
}

.p-style {
    padding-left: 20px;

}
.testrelative {
    position: relative;
    left: 30px;
    border: 3px solid rgba(255, 255, 255, 0);
}

h4 {text-align: center;
    margin-top: 20;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {background-color: cornflowerblue;
padding-left: 4%;
padding-right: 4%;
}

.box-set {
    position: static;
    height: 400px;
    background: darkgray;
    padding-top: 0%;
    margin-top: 10%;
  }


  testh1{
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}




